<div class="modal fade" id="modal-add-category" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-12">
                        <label class="form-control-label">
                            Kategori adı
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-12">
                        <label class="form-control-label">
                          Kategori Açıklaması
                        </label>
                       
                        ,<textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label class="form-control-label">
                       Kategori Fotoğrafı
                    </label>
                    <small class="form-text text-muted mb-2 mt-0">Dosyanı sürekleyerek aşağıdaki bırakınız</small>
                    <div class="form-control file-input">
                        <small class="form-text text-muted mb-2 mt-0">Dosyanızı yüklemek için buraya tıklayın</small>
                        <input type="file" name="file" class="file-input-img opacity-0">
                    </div>
                </div>
           


            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-sm btn-primary rounded-pill mr-auto" data-dismiss="modal">Ekle</button>
                <button type="button" data-dismiss="modal" class="btn btn-sm btn-link text-muted px-2">İptal</button>

            </div>
        </div>
    </div>
</div>