<div class="page-content">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="page-title">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 mb-md-0">
                            <h5 class="h3 font-weight-400 mb-0 text-white">Ürün Detayı</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
                <div class="actions actions-dark d-inline-block">
                    <button  routerLink="/admin/products/add-product" type="button" class="btn btn-xs btn-primary btn-icon rounded-pill">
                        <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                        <span class="btn-inner--text">Ürünü Düzenle</span>
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-fluid">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col--xs-12 col-md-3 obj-height">
                
                <!--Swiper -->
                <app-product-slider ></app-product-slider>
            
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="col-12">
                 
                        <div class="card-body"><a class="avatar rounded-circle avatar-lg hover-translate-y-n3">
                            <img alt="Image placeholder" src="assets/img/products/prd_01.jpeg" class="">
                          </a>
                          <h5 class="h6 my-4"><a>Masa</a></h5>
                          <div class="avatar-group hover-avatar-ungroup mb-3">
                            <span class="company-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum architecto consequuntur quaerat, ducimus maxime repellendus!
                            </span>
                          </div>
                          <span class="">Fiyatı 6000 TL</span> <br>
                          <span class="clearfix">Rengi Siyah</span> <br>
                          <h6 class="h6 my-4">Parçaları</h6>
                        </div>
                      </div>
           
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-xs-12 col-md-3 obj-height">
             <app-product-slider ></app-product-slider>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="col-12">
                 
                        <div class="card-body"><a class="avatar rounded-circle avatar-lg hover-translate-y-n3">
                            <img alt="Image placeholder" src="assets/img/products/prd_01.jpeg" class="">
                          </a>
                          <h5 class="h6 my-4"><a>1. Sandalye</a></h5>
                          <div class="avatar-group hover-avatar-ungroup mb-3">
                            <span class="company-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum architecto consequuntur quaerat, ducimus maxime repellendus!
                            </span>
                          </div>
                        </div>
                      </div>
           
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-xs-12 col-md-3 obj-height">
                  <!--Swiper -->
                  <app-product-slider ></app-product-slider>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="col-12">
                 
                        <div class="card-body"><a class="avatar rounded-circle avatar-lg hover-translate-y-n3">
                            <img alt="Image placeholder" src="assets/img/products/prd_01.jpeg" class="">
                          </a>
                          <h5 class="h6 my-4"><a>Küçük masa</a></h5>
                          <div class="avatar-group hover-avatar-ungroup mb-3">
                            <span class="company-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum architecto consequuntur quaerat, ducimus maxime repellendus!
                            </span>
                          </div>
                        </div>
                      </div>
           
            </div>
          </div>
        </div>
    </div>


</div>

