<div class="page-content">
    <!-- Page title -->
    <div class="page-title w-75 m-auto">
        <div class="row justify-content-between align-items-center">
            <div class="col-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="page-title">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 mb-md-0">
                            <h5 class="h3 font-weight-400 mb-0 text-white">Yeni Ürün Ekle</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
         

            </div>
        </div>
    </div>

    <div class="row w-75 m-auto pt-3">
        <div class="col-12">
            <div class="card card-fluid col-12">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-control-label">
                                ürün Adı
                            </label>
                            <input [(ngModel)]="form.name" type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-control-label">
                                Ürün Fiyatı
                            </label>
                            <input [(ngModel)]="form.price" type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-control-label">
                              Ürün rengi
                            </label>
                            <input [(ngModel)]="form.color" type="color" class="form-control">
                        </div>
                     
                        <div class="align-items-end form-group col-sm-12 col-md-6">
                            <label class="form-control-label">Ürün Kategorisi</label>
                            <select [(ngModel)]="form.category" value="0" class="form-select form-select-lg form-control"
                            aria-label=".form-select-lg example">
                            <option value="0">Seç</option>
                            <option *ngFor="let item of cat" value="{{item.name}}">{{item.name}}</option>
                        </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="form-control-label">
                                Açıklaması
                            </label>
                            <textarea [(ngModel)]="form.conten" type="text" rows="6" class="form-control"></textarea>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-75 m-auto pt-3">
        <div class="col-12">
            <div class="card card-fluid col-12">
                <div class="card-body">
                    <div class="form-group col-12">
                  
                            <label class="form-control-label">
                                Ürün 3d linki
                            </label>
                            <input [(ngModel)]="form.objLink" type="text" class="form-control">
                     
                        
                    </div>
                </div>
            
                    <div class="card-body">
                        <div class="form-group col-12">
                            <label class="form-control-label">
                               Ürün Fotoğrafı
                            </label>
                            <small class="form-text text-muted mb-2 mt-0">Dosyanızı sürekleyerek aşağıdaki bırakınız</small>
                            <div *ngIf="Visible" class="form-control file-input">
                                <small class="form-text text-muted mb-2 mt-0">Dosyanızı yüklemek için buraya tıklayın</small>
                                <input  (change)="changeImage($event)" type="file" name="file" class="file-input-img opacity-0">
                            </div>
                            <div *ngIf="!Visible" class="form-group col-12 img-container">
                                <span (click)="removeImg('big')" class="img-remove"><i class="far fa-edit"></i></span>
                                <img [src]="imgSwov" height="80%" width="20%" style="object-fit: cover;">
        
                            </div>
                            
                        </div>
                    </div>
             
                <div class="card-footer save">
                    <button type="button" class="btn btn-sm rounded-pill" (click)="save()">Vazgeç</button>
                    <button type="button" class="btn btn-sm btn-primary rounded-pill " (click)="submit()" >Ürünü Yayınla</button>
                   
                  </div>
            </div>
           

        </div>
    </div>
</div>